<!-- Breadcrumb Start -->
<div class="container-fluid">
  <div class="row px-xl-5">
    <div class="col-12">
      <nav class="breadcrumb bg-light mb-30">
        <a class="breadcrumb-item text-dark" href="#">Home</a>
        <a class="breadcrumb-item text-dark" href="#">Shop</a>
        <span class="breadcrumb-item active">Shop List</span>
      </nav>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Shop Start -->
<div class="container-fluid">
  <div class="row px-xl-5">
    <!-- Shop Sidebar Start -->
    <div class="col-lg-3 col-md-4">
      <!-- Brand Filter Start -->
      <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by Brand</span></h5>
      <div class="bg-light p-4 mb-30">
        <form>
          <div *ngFor="let brand of brands; let i = index">
            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
              <input type="checkbox" class="custom-control-input" id="brand-all{{brand.name}}" name="brand" value="{{brand.name}}" (change)="filterProducts($event, 'brand', brand.name)">
              <label class="custom-control-label" for="brand-all{{brand.name}}">{{brand.name}}</label>
            </div>
          </div>
        </form>
      </div>

      <!-- Brand Filter End -->

      <!-- Model Filter Start -->
      <h5 *ngIf="selectedBrands.length > 0" class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by Model</span></h5>
      <div *ngIf="selectedBrands.length > 0" class="bg-light p-4 mb-30">
        <form>
          <div *ngFor="let model of filteredModels; let i = index">
            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
              <input type="checkbox" class="custom-control-input" id="model-all{{model.name}}" name="model" value="{{model.name}}" (change)="filterProducts($event, 'model', model.name)">
              <label class="custom-control-label" for="model-all{{model.name}}">{{model.name}}</label>
            </div>
          </div>
        </form>
      </div>

      <!-- Model Filter End -->
    </div>
    <!-- Shop Sidebar End -->

    <!-- Shop Product Start -->
    <div class="col-lg-9 col-md-8">
      <div class="row pb-3">
        <div class="col-12 pb-1">
          <div class="d-flex align-items-center justify-content-between mb-4">
            <div class="ml-2">
              <div class="btn-group">
                <mat-form-field>
                  <mat-label>Sort</mat-label>
                  <mat-select [(ngModel)]="selectedValue" name="food" (selectionChange)="sortAll($event)">

                    <mat-option value="asc">Price Asc</mat-option>
                    <mat-option value="desc">Price Desc</mat-option>

                  </mat-select>
                </mat-form-field>

              </div>

            </div>
          </div>
        </div>
        <div *ngIf="filteredProducts.length === 0" class="row justify-content-center">
          <div class="col-md-8">
            <div class="alert alert-warning text-center" role="alert">
              <h4 class="alert-heading">No Products Available</h4>
              <p>There are currently no products available for the specified criteria. Please try adjusting your filters or check back later.</p>
            </div>
          </div>
        </div>

        <div *ngFor="let product of filteredProducts; let i = index" class="col-lg-4 col-md-6 col-sm-6 pb-1">
          <app-card [product]="product" (addToCartEvent)="showModal = true"></app-card>
        </div>
      </div>
    </div>
    <!-- Shop Product End -->
  </div>
</div>

<div class="modal" [ngClass]="{ 'is-active': showModal }">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add to Cart</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showModal = false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Product added to cart successfully.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="showModal = false">Close</button>
      </div>
    </div>
  </div>
</div>
