<div class="orders-container">
  <h2>User Orders</h2>
  <table class="orders-table">
    <thead>
    <tr>
      <th>Date</th>
      <th>Address</th>
      <th>City</th>
      <th>Products</th>
      <th>Total Price</th>
      <th>Shipping Cost</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of orders">
      <td>{{ order.date | date: 'short' }}</td>
      <td>{{ order.address }}</td>
      <td>{{ order.city }}</td>
      <td>
        <table class="products-table">
          <thead>
          <tr>
            <th>Quantity</th>
            <th>Product Name</th>
            <th>Brand</th>
            <th>Price</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let product of order.products">
            <td>{{ product.quantity }}</td>
            <td>{{ product.productName }}</td>
            <td>{{ product.productBrand }}</td>
            <td>{{ product.price | currency }}</td>
          </tr>
          </tbody>
        </table>
      </td>
      <td>{{ getTotalPrice(order) | currency }}</td>
      <td>{{ getShippingCost(getTotalPrice(order)) | currency }}</td>
    </tr>
    </tbody>
  </table>
</div>
